<h6>Schedule an exchange:</h6>

 <div class="well">

<div class="panel-body">
  <%= form_for [@current_user, @exchange], :action => :create, :html => {:class => 'form',:role => 'form'} do |f| %>

 
  <div class="form group">
    <%= f.label :station %>
    <%= f.text_field :station %>
  </div>
  
  <div class="form group">
    <%= f.label :date %></br> 
    <%= f.date_field :date %></br>
  </div>  

  <div class="form group">
    <%= f.label :time %></br> 
    <%= f.time_field :time %></br> 
  </div> 

  <div class="form group">
    <%= f.label :price %></br> 
    <%= f.number_field :price %></br> 
  </div> 

  <div class="radio">
      <label>
         <%= "bike" %> 
         <input type="radio" class="input_radio" name= ":is_bike" value= <%= @exchange.is_bike = true %>>
      </label>
   </div>
   <div class="radio">    
      <label>
        <%= "dock" %> 
        <input type="radio" class="input_radio" name=":is_bike" value= <%= @exchange.is_bike = false %>>
      </label>
  </div>  


   <br>
   <br>
  <%= f.submit nil, class: "btn btn-primary" %>
   <% end %> 

</div>
</div>

