<div class="well">
  <h2>All Exchanges:</h2>
  <% @exchanges.each do |exchange| %>
  <% if exchange.vendor_id == nil %>
  <ul>
    <li>Requester: <%= exchange.requester_id %></li>
    <li>Station: <%= exchange.station %></li>
    <li>Date: <%= exchange.date %></li>
    <li>Time: <%= exchange.time %></li>
    <li>Price: $<%= exchange.price %>0</li>
    <li>Is_bike: <%= exchange.is_bike %></li>
    <% unless exchange.requester_id == nil %>
    <%= button_to "select", exchange_path(exchange), :method => :get %>
    <% end %>
  </ul>
  <% end %>
  <% end %>

</div>





