<div class="well">
  <h2>All Exchanges:</h2>
  <% @exchanges.each do |exchange| %>
  <ul>
    <li>ID: <%= exchange.id %></li>
    <li>Requester: <%= exchange.requester_id %></li>
    <li>Station: <%= exchange.station %></li>
    <li>Date: <%= exchange.date %></li>
    <li>Time: <%= exchange.time %></li>
    <li>Price: <%= exchange.price %></li>
    <li>Is_bike: <%= exchange.is_bike %></li>
  </ul>
  <% end %>
</div>


