<div class="well">
  <h4></h4>
  <ul>
    <li>Station: <%= @exchange.station %></li>
    <li>Time: <%= @exchange.transform_time %></li>
    <li>Price: <%= number_to_currency(@exchange.price, :unit => "$")  %></li>
    <% if @exchange.is_bike == true %>
    <li>Need a Bike</li>
    <% else %>
    <li>Need a Dock</li>
    <% end %>
    <% if @exchange.vendor_id == nil and current_user.id == @exchange.user_id %>
    <li><%= link_to "Delete", exchange_path(@exchange), :method => :delete %> </li>
    <% end %>

    <% if @exchange.user_id != current_user.id && @exchange.vendor_id == nil %> 
        <li><%= button_to "Claim", claim_exchange_path, :id => @exchange.id, :method => :put %></li>
    <% end %> 

    <% if current_user.id == @exchange.vendor_id %> 
        <li><%= button_to "Complete", buy_path, :id => @exchange.id, :method => :post %></li>
    <% end %> 

  </ul>
</div>

<div class="comment-form">
  <% if @exchange.user_id != current_user.id && @exchange.vendor_id == nil %> 
    <%= render "comments/form" %>
  <% end %> 
</div>

  <% if @exchange.user_id == current_user.id && @exchange.vendor_id == nil %> 
    <%= render "comments/commentsuserview" %> 
  <% end %>  

  <% @comments.each do |comment| %>
    <% @commenters[0].each do |commenter| %> 
      <% if comment.commenter_id == current_user.id && @exchange.vendor_id == nil %> 
       <%= render "comments/commentsvendorview" %> 
      <% end %>  
    <% end %> 
  <% end %> 










