<div class="well">

<!-- please rate -->
  <% if current_user.id == @exchange.user_id && @exchange.status == "completed" %>
    <h2>Please rate your angel:</h2>
  <% end %>
    <% if current_user.id == @exchange.vendor_id && @exchange.status == "completed" %>
    <h2>Please rate your client:</h2>
  <% end %>
  
  <ul>
    <% if current_user.id == @exchange.user_id && @exchange.vendor_id != nil %>
      <li>Your Angel's Info</li>
      <li><img class="profile-image" src="<%= @vendor.image_url %>" alt="profile image"></li>
      <li>username: <%= @vendor.username %></li>
      <% unless @vendor.headline == nil %>
      <li id="profile-info"><%= @vendor.headline %></li>
  <% end %>
      <li><%= rating_for @vendor %></li>
      <li>phone: <%= @vendor.phone_number%></li>
    <% end %>


    <% if current_user.id == @exchange.vendor_id %>
      <li>Your Customer's Info</li>
      <% if @user.image_url.length != 0 %>
        <li><img class="profile-image" src="<%= @user.image_url %>" alt="profile image"></li>
      <% end %>
      <li>username: <%= @user.username %></li>
      <li><%= rating_for @user %></li>
      <% unless @user.headline == nil %>
    <li id="profile-info"><%= @user.headline %></li>
    <% end %>
      <li>phone: <%= @user.phone_number%></li>
    <% end %>

<!-- exchange info -->

    <li>Station: <%= @exchange.station %></li>
    <li>Time: <%= @exchange.transform_time %></li>
    <li>Price: <%= number_to_currency(@exchange.price, :unit => "$")  %></li>
    <% if @exchange.is_bike == true %>
    <li>Need a Bike</li>
    <% else %>
    <li>Need a Dock</li>
    <% end %>
    <% if @exchange.vendor_id == nil and current_user.id == @exchange.user_id %>
    <li><%= link_to "Delete", exchange_path(@exchange), :method => :delete %> </li>
    <% end %>

    <% if @exchange.user_id != current_user.id && @exchange.vendor_id == nil %> 
        <li><%= button_to "Claim", claim_exchange_path, :id => @exchange.id, :method => :put %></li>
    <% end %> 

    <% if current_user.id == @exchange.vendor_id && @exchange.status != "completed" %> 
        <li><%= button_to "Complete", buy_path, :id => @exchange.id, :method => :post %></li>
    <% end %> 
  </ul>
</div>

<div class="comment-form">
  <% if @exchange.user_id != current_user.id && @exchange.vendor_id == nil %> 
    <%= render "comments/form" %>
  <% end %> 
</div>

  <% if @exchange.user_id == current_user.id && @exchange.vendor_id == nil %> 
    <%= render "comments/commentsuserview" %> 
  <% end %>  

  <% @comments.each do |comment| %>
    <% @commenters[0].each do |commenter| %> 
      <% if comment.commenter_id == current_user.id && @exchange.vendor_id == nil %> 
       <%= render "comments/commentsvendorview" %> 
      <% end %>  
    <% end %> 
  <% end %> 

  <% if current_user.id == @exchange.user_id && @exchange.status == "completed" %>
    <li><%= button_to "Continue", rated_exchange_path, :id => @exchange.id, :method => :put %></li>
  <% end %>

  <% if current_user.id == @exchange.vendor_id && @exchange.status == "completed" %>
    <li><%= button_to "Continue", rated_vendor_exchange_path, :id => @exchange.id, :method => :put %></li>
  <% end %>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %> 









