<h2 id="signup-header">Sign up</h2>

<div id="sign-up">
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username, id: "label" %><br />
  <%= f.text_field :username, class: "form-control", :autofocus => true %></div>

  <div><%= f.label :email, id: "label" %><br />
  <%= f.email_field :email, class: "form-control", :autofocus => true %></div>

  <div><%= f.label :password, id: "label" %><br />
  <%= f.password_field :password, class: "form-control"  %></div>

  <div><%= f.label :password_confirmation, id: "label" %><br />
  <%= f.password_field :password_confirmation, class: "form-control"  %></div>

  <div><%= f.submit "Sign up", class: "btn btn-default", id: "signup-btn" %></div>
<% end %>
</div>

<div id="devise-links">
<%= render "devise/shared/links" %>
</div>