
  <div class="panel-body">
  <% unless @user.errors.none? %>
    <% @user.errors.full_messages.each do |msg| %> 
    <%= msg %>
    <% end %>
  <% end %>
<ul>
  <%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :username %></br>
    <%= f.text_field :username, class: "form-control"%></br>
  </div>

  <div class="form-group">  
    <%= f.label :email %></br>
    <%= f.email_field :email, class: "form-control" %></br>
  </div>

  <div class="form-group">
    <%= f.label :password %></br>
    <%= f.password_field :password, class: "form-control" %></br>
  </div>

  <div class="form-group">  
    <%= f.label :password_confirmation %></br>
    <%= f.password_field :password_confirmation, class: "form-control" %></br>
  </div>  
      <div class="radio">
      <label>
         <%= "I want to be an exchange buddy" %> 

         <input type="radio" class="input_radio" name= "role" value= <%= @user.role = "vendor" %>>

      </label>
     </div>
     <!-- f.collection_select :role, User::ROLES, :to_s, :humanize %> -->
    <%= f.submit 'Save', :class => 'btn btn-default'%>

  <% end %>
</ul>  
</div>

