
<h2>Edit Your New Info:</h2>
<%= render 'form' %>

<h2>Save your payment info to start using SendAngel</h2>
<%= form_tag customers_path, :method => :post do %>
<li class=><%= submit_tag "Enter Your Payment Method", :class => 'btn btn-default'%></li>
<% end %>

<h2>Let us pay you</h2>
<li><%= link_to "Option 1. Connect Your Checking Account via Stripe", payments_path %></li>
<li><a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_3RZ0RC5ou8eIzbhddmzibN6kWg3fAtoI&scope=read_write&state=1234
" class="btn btn-default">Option 2. Connect Your Stripe Account</a></li>

<h2>For option 1: transfer your available funds</h2>
<%= link_to "Collect Funds", transfers_path %>
<%= button_to "Collect Funds", transfers_path, :method => :post %>

