<ul id="user-profile">
  <li id="profile-info"><%= @user.username %></li>
  <li id="profile-info"><img class="img-circle" id="profile-image" src="<%= @user.image_url %>" alt="you don't have a profile image yet."></li>
  <% unless @user.headline == nil %>
    <li id="profile-info"><%= @user.headline %></li>
  <% end %>
</ul>

<% @exchanges.each do |exchange| %>  
  <% if exchange.vendor_id == current_user.id && exchange.status == nil %>
  <h2><%= link_to "My current exchange", exchange_path(exchange.id) %></h2>
  <% end %>
<% end %>

<% @exchanges.each do |exchange| %>  
  <% if exchange.user_id == current_user.id && exchange.status == nil %>
  <h2><%= link_to "My current exchange", exchange_path(exchange.id) %></h2>
  <% end %>
<% end %>

<br>
<div id="favorites">
<h2 id="faves-headeline">My Saved Destinations:</h2>
  <ul>
    <% if @user.favorites.length != 0 %>
      <% @user.favorites.each do |favorite| %>

      <!-- NEW SEARCH -->
      <%= form_tag searches_path, :method => :post do %>
      <li class="favorites"><%= submit_tag "#{favorite.address}", :class => 'btn btn-default', :id => "favorite-links", :name => :address %></li>
      <% end %>
      <% end %>
      <% else %>
      <p>You haven't saved any destinations yet.</p>  
    <% end %>
  </ul>
</div>

<div class="new-search">
  <ul>
  <li><%= link_to "New Search", new_search_path %> </li>
  <li><%= link_to "Schedule an Exchange", new_exchange_path %> </li> 
    <% if current_user.role == "vendor" %> 
  <li> <%= link_to "All Exchanges", exchanges_path %> </li> 
   <% end %> 
  </ul> 
</div>


  







