<% @exchanges.each do |exchange| %>
  <% if exchange.requester_id == current_user.id %>
  <h2>User view:</h2>
  <p>Your currently scheduled exchange:</p>
  <ul>
    <li>Station: <%= exchange.station %></li>
    <li>Date: <%= exchange.transform_date %></li>
    <li>Time: <%= exchange.time %></li>
      <% if exchange.is_bike == true %>
          <li>Your request: Need a Bike!</li>
      <% else %>
         <li>Your request: Need a Dock!</li>
      <% end %>
    <% end  %>
  </ul>
  
  <% if exchange.vendor_id == current_user.id %>
  <h2>Vendor View: </h2> 
  <p>Your currently scheduled exchange:</p>
  <ul>
    <li>Requester: <%= exchange.requester_id %></li>
    <li>Station: <%= exchange.station %></li>
    <li>Date: <%= exchange.transform_date %></li>
    <li>Time: <%= exchange.time %></li>
      <% if exchange.is_bike == true %>
          <li>Your service: Deliver a Bike</li>
      <% else %>
         <li>Your service: Open up a Dock</li>
      <% end %>
    <% end  %> 
  </ul>
  <% end %>

<h2>Your Saved Destinations:</h2>
  <ul>
    <% @user.favorites.each do |favorite| %>
    <%= form_tag searches_path, :method => :post do %>
    <li><%= submit_tag "#{favorite.address}", :class => 'saved_destination', :name => :address %></li>
    <% end %>
    <% end %>
  </ul>


<div class="new_search">
  <h6><%= link_to "New Search", new_search_path %> </h6>
  <h6><%= link_to "Schedule an Exchange", new_exchange_path %> </h6>
  <% if current_user.role == "vendor" %>
  <h6> <%= link_to "All Exchanges", exchanges_path %> </h6>
  <% end %>
</div>

Rating: <%= rating_for @user%>
Leave a comment:
<%= render :partial => 'comments/form', :locals => {:commentable => @user} %>
<ul>
  







