<%= rating_for @user %>

<% @exchanges.each do |exchange| %>  
  <% if exchange.vendor_id == current_user.id && exchange.status == nil %>
  <h2><%= link_to "Go to your current exchange", exchange_path(exchange.id) %></h2>
  <% end %>
<% end %>
<br>
<h2>Your Saved Destinations:</h2>
  <ul>
    <% if @user.favorites.length != 0 %>
      <% @user.favorites.each do |favorite| %>
      <li><%= favorite.address %></li>

      <!-- NEW SEARCH -->
      <%= form_tag searches_path, :method => :post do %>
      <li class="favorites"><%= submit_tag "Search", :class => 'btn btn-default', :name => :address %></li>
      <% end %>
      <% end %>
      <% else %>
      <p>You haven't saved any destinations yet.</p>  
    <% end %>
  </ul>

<div class="new_search">
  <h2><%= link_to "New Search", new_search_path %> </h2>
  <h2><%= link_to "Schedule an Exchange", new_exchange_path %> </h2> 
    <% if current_user.role == "vendor" %> 
  <h2> <%= link_to "All Exchanges", exchanges_path %> </h2> 
   <% end %> 
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag 'jquery.raty.js','letsrate.js'%>
<% end %> 

  







