<!DOCTYPE html>
<html>
<head>
  <title>SendAngel</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
   <%= render 'layouts/header'%>
<div class="container">
<!-- < flash.each do |type, msg| %>
  <= content_tag :p, msg, class: type %>
< end %> -->
<% flash.each do |username, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>
  <%= yield %>
</div>
<footer>
</footer>
</div>
</body>
</html>

      




